<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinity.infoway.atmiya">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".faculty.faculty_profile.FacultyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".faculty.faculty_dashboard.activity.FacultyDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.fee_details.activity.PaytmPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.fee_details.activity.AxisAndHdfcPaymentWebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".student.forgot_password.activity.ResetPasswordActivity" />
        <activity
            android:name=".student.forgot_password.activity.VerifyOTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.UpdateAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.forgot_password.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.exam.activity.MidResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.exam.activity.CIAExamMarksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.news_or_notification.ViewAllNewsOrNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.fee_details.activity.PayFeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.home_work.activity.StudentHomeWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.lesson_plan.StudentLessonPlanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.lesson_plan.StudentLessonPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.student_syllabus.StudentSyllabusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.student_timetable.activity.StudentTimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.holiday.HolidayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.e_learning.activity.ELearningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.leave_application.activity.LeaveApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.student_activity.StudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.message_history.MessageHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.assignment.AssignmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.exam.activity.ExaminationScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.exam.activity.StudentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.exam.activity.ExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.fee_details.activity.FeeReciptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="Fees Activity For Student" />
                <action android:name="Attendance Activity For Student" />
                <action android:name="Lesson Plan Activity For Student" />
                <action android:name="News Activity For Student" />
                <action android:name="Activity For Student" />
                <action android:name="Homework Activity For Student" />
                <action android:name="Syllabus Activity For Student" />
                <action android:name="Result Activity For Student" />
                <action android:name="Assignment Activity For Student" />
                <action android:name="Exam Timetable Activity For Student" />
                <action android:name="Fee Circular Activity For Student" />
                <action android:name="Leave Activity For Student" />
                <action android:name="E-Learning Management For Student" />
                <action android:name="Holiday Activity For Student" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.fee_details.activity.FeeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.attendance.activity.StudentAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.profile.StudentProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.student_dashboard.activity.StudentDashboardActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.infinity.infoway.atmiya.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/login_screen_logo" /> -->
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <!-- <service -->
        <!-- android:name=".services.MyFirebaseInstanceIdAndMessagingService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".services.MyFirebaseInstanceIdAndMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>